<h1>Facts about numbers</h1>

<div class="form-check col-auto">
  <input class="form-check-input" type="radio" name="radio" id="dateFact" (change)="true" #dateFact>
  <label class="form-check-label" for="dateFact">
    Date Fact
  </label>
</div>
<div class="form-check col-auto">
  <input class="form-check-input" type="radio" name="radio" id="mathFact" (change)="true" #mathFact>
  <label class="form-check-label" for="mathFact">
    Math Fact
  </label>
</div>
<div class="form-check col-auto">
  <input class="form-check-input" type="radio" name="radio" id="triviaFact" (change)="true" #triviaFact>
  <label class="form-check-label" for="triviaFact">
    Trivia Fact
  </label>
</div>
<div class="form-check col-auto">
  <input class="form-check-input" type="radio" name="radio" id="yearFact" (change)="true" #yearFact>
  <label class="form-check-label" for="yearFact">
    Year Fact
  </label>
</div>
<!--Date Fact-->
<div *ngIf="dateFact.checked" class="col-auto">
  <div class="input-group flex-nowrap col-auto">
    <span class="input-group-text" id="addon-wrapping">Month</span>
    <input type="text" class="form-control" placeholder="Month" aria-label="Month" aria-describedby="addon-wrapping" [(ngModel)]="month_h" required>
    <span class="input-group-text" id="addon-wrapping">Day</span>
    <input type="text" class="form-control" placeholder="Month" aria-label="Day" aria-describedby="addon-wrapping" [(ngModel)]="day_y" required >
    <button type="submit" (click)="dateSubmit()" class="btn btn-primary">Search</button>
  </div>
<div *ngIf="found == true" class="container-fluid">On {{date}}, {{text}}.</div>
</div>

<!--Math Fact-->
<div *ngIf="mathFact.checked" class="col-auto">
  <div class="input-group flex-nowrap col-auto">
    <span class="input-group-text" id="addon-wrapping">Number</span>
    <input type="text" class="form-control" placeholder="Number" aria-label="Number" aria-describedby="addon-wrapping" [(ngModel)]="number_r" required>
    <button type="submit" (click)="mathSubmit()" class="btn btn-primary">Search</button>
  </div>
  <div *ngIf="found == true" class="container-fluid">The {{number}} is {{text}}.</div>
</div>

<!--Trivia Fact-->
<div *ngIf="triviaFact.checked" class="col-auto">
  <div class="input-group flex-nowrap col-auto">
    <span class="input-group-text" id="addon-wrapping">Number</span>
    <input type="text" class="form-control" placeholder="Number" aria-label="Number" aria-describedby="addon-wrapping" [(ngModel)]="number_r" required>
    <button type="submit" (click)="triviaSubmit()" class="btn btn-primary">Search</button>
  </div>
  <div *ngIf="found == true" class="container-fluid">The {{number}} is {{text}}.</div>
</div>

<!--Year Fact-->
<div *ngIf="yearFact.checked" class="col-auto">
  <div class="input-group flex-nowrap col-auto">
    <span class="input-group-text" id="addon-wrapping">Year</span>
    <input type="text" class="form-control" placeholder="Year" aria-label="Year" aria-describedby="addon-wrapping" [(ngModel)]="year_r" required>
    <button type="submit" (click)="yearSubmit()" class="btn btn-primary">Search</button>
  </div>
  <div *ngIf="found == true" class="container-fluid">On {{date}}, {{year}}; {{text}}.</div>
</div>